@import "src/assets/styles/variables";

mat-toolbar {
  height: 30px;
  display: flex;
  justify-content: center;

  .copyright-container {
    font-size: 12px;
    max-height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .name,
    .copyright-icon {
      font-size: 12px;
      line-height: 12px;
      color: $super-light-grey;
    }
  }
}