$super-light-grey: rgba(235, 235, 235, 1);
$text-color-dark: rgba(41, 41, 41, 1);
$text-color-light: rgba(168, 168, 168, 1);
$transactions-header-bc: rgba(248, 249, 250, 1);
$applied-status-bc: rgba(214,245,233);