<div class="card">
  <h1>Display Transactions App</h1>
  <div class="tasks">
    <ul>
      <li>The solution must be available as a Git repository which can be accessed by the solution reviewers.</li>
      <li>The solution reviewers must be able to build the project for deployment and testing.</li>
      <li>A short README file in the root of the project must explain how to build, test and run the
          application.</li>
      <li>The programming language must be Typescript.</li>
      <li>Both the project itself and its code must be reasonably structured.</li>
      <li>The project must contain some unit tests and at least one end-to-end test for a selected
          frontend feature.</li>
      <li>The web application must resemble the provided table design as much as possible</li>
      <li>The web application must use a reactive state management library ngrx/store https://ngrx.io/guide/store.</li>
      <li>The web application must use an angular material scrolling component https://material.angular.io/cdk/scrolling/overview.</li>
    </ul>
  </div>
</div>
